@import 'base';
@import 'variables';

.background {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    background-color: $Primary;

    .main {
      align-self: center;
      margin-left: auto;
      margin-right: auto;  
      width: 375px;
      height: auto;
      background-color: white;
      border-radius: 15px 15px 15px 15px ;
      box-shadow: 0 14px 33px -6px $Desaturated-blue;  
    }

    .illustration, .img {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .order-summary {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    h2 {
     font-weight: 900;
     margin: 15px 0 15px 0;
     font-size: 2rem;
    }

    .text {
      text-align: center;  
      padding: 0 20px;
      color: gray;
      font-size: 1.4rem;
      font-weight: 500;
    }

    .plan {
        width: 80%; 
        height: auto;
        border-radius: 5px;
        margin: 5px auto;
        background-color: whitesmoke;
        
    }

    .icon {
        color: $Dark-blue;
        width: 40px;
        padding: 15px;
        vertical-align: middle;     
    }

    .annual-plan {
        display: inline-block;
        vertical-align: middle;
    }

    h3{
        font-size: 1.4rem;
    }

    .value {
        margin-top: 1px;
        color: grey;
        font-size: 1.4rem;
    }

    .plan-change {
        display: inline;
        float: right;
        margin: 25px 15px;
        font-weight: 900;
        font-size: small;
    }

    .button-change {
        color: $secundary;
        text-decoration: none;
    }

    .button-payment {
        width: 80%;
        margin: 20px auto;
        vertical-align: middle;
    } 

    .payment {
        border: none;
        width: 100%;
        border-radius: 10px;
        background-color: $secundary;
        padding: 10px;
        color: white;
        font-weight: 700;   
    }

    .cancel-order {
        width: 80%;
        margin: 20px auto;
        vertical-align: middle;
    }

    .order {
        font-size: 1.4rem;
        text-align: center;
        display: block;
        text-decoration: none;
        padding: 10px 0 30px 0;
        color: grey;
        font-weight: 900;

    }
}

.footer {
    background-color: $Primary;
    color: $Dark-blue;
    text-align: center;
    padding: 15px;
    font-size: 1.4rem;
}